<?xml version="1.0" encoding="UTF-8"?>
	<widget xmlns = "http://www.w3.org/ns/widgets"
		xmlns:gap = "http://phonegap.com/ns/1.0"
		id = "it.openconsole.emulatori"
		version = "1.0.0"
		versionCode = "1">

    <name>OC emulators</name>

    <description>
        La app descrive tutti gli emulatori presenti per i dispositivi Android
    </description>

    <author>
        Paulvern
	</author>
        <icon src="icon.png" />
   
<gap:plugin name="com.phonegap.plugins.childbrowser" />
	
</widget>
